figcaption{
	width: 100%;
}

md-bottom-sheet{
	height: 75% !important;
	background-color: rgba(34,34,34,0.55); !important;
	overflow: auto;
}
.pinLocation{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	padding: 10px;
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.4) ;
}

md-bottom-sheet.md-default-theme {
	 background-color: rgba(34,34,34,0.55); !important;
	 border-top-color: rgba(34,34,34,0.0); !important;
}

#map{
	max-width: 640px;
	/*background-color: #0168C7;*/
	height: 100%;
	margin: auto;
	cursor: cell;
	background-repeat: no-repeat;
}

#caption{
	padding: 10px;
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.4) ;
	/*position: absolute;*/
	bottom: 0px;
	/*height: 50px;*/
	width: 100%;
	max-width: 640px;
	margin: auto;

}

@media only screen and (max-device-width : 768px){

	md-dialog{
		max-width: 100%;
	}

	md-bottom-sheet.md-grid {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0;
	}

	#map{
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		/*background-color: #0168C7;*/
		height: 100%;
		cursor: cell;
		background-repeat: no-repeat;
	}
}
md-backdrop.md-opaque.md-default-theme {
	background-color: rgba(0,0,0,0.4);
}

md-card-content p{
	line-height: 1;
}

#md-dialog{
 background-color: rgba(34,34,34,0.55);
}

.notificationWrapper{
	background-color: rgba(255,255,255,0.9);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: 100;
}

md-progress-circular {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	padding-top: 0!important;
	margin-bottom: 0!important;
	overflow: hidden;
	margin: auto;
	margin-top: 50%;
}

.videoTag{
	/*background-color: rgba(255,255,255,0.9);*/
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: 10;
}

.playerIcon {
	width: 40px;
	height: 50px;
	display: block;
	position: relative;
	padding-top: 0!important;
	margin-bottom: 0!important;
	overflow: hidden;
	margin: auto;
	margin-top: 35%;
	color: #ffffff;
	font-size: 50px;
}


