figcaption{
	width: 100%;
}

md-bottom-sheet{
	height: 75% !important;
	background-color: rgba(34,34,34,0.55); !important;
	overflow: auto;
}
.pinLocation{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	padding: 10px;
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.4) ;
}
